* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    font-weight:400;
    color:mistyrose;
}
body{
    background-color:black;
    max-width:100%;
}
#background{
    background:linear-gradient(to top, black 10%, transparent 20%) no-repeat 100%,
               linear-gradient(black 1%, transparent 5%) no-repeat 100% 280px,
               url(../images/bckg_left.jpg) no-repeat left 300px,
               url(../images/bckg_right.jpg) no-repeat right 300px;
}
h2, h3{
    font-weight:700;
}
h3{
    color:rgb(230,32,42);
}
.icon {
    display:none;
}
a {
    text-decoration:none;
}
.textLinks{
    color:firebrick;
    font-style:italic;
    font-size:1rem;
}
.textLinks:hover{
    color:goldenrod;
}

header {
    display: flex;
    max-width:1300px;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    height:300px;
}
#logo{
    height:300px;
}

nav {
    display: flex;
    max-width:1300px;
    width:45%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
}
nav ul{
    display:flex;
    flex-direction:row;
}
nav ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 1px solid darkred;
}
nav ul li:last-child {
    border-right: 0;
}
nav ul li a {
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight:700;
}
nav ul li a:hover {
    background-image:radial-gradient(ellipse at bottom, darkred -80%, transparent 75%);
    border-bottom:1px solid #4b0000df;
    color:linen;
}


main {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

section#lastNews{
    display:flex;
    max-width:1300px;
    width:65%;
    flex-direction:column;    
}
.newsTitle{
    margin-top:2%;
    margin-bottom:3%;
}
.news{
    margin-bottom:5%;
}
.news h2{
    font-size:2rem;
    margin-bottom:1rem;
}

section#lastMedia{
    display:flex;
    flex-direction:column;
    width: 30%;
    margin-left: 5%;
}
.lastMediaContent h3, h5{
    margin-top:2%;
    margin-bottom:5%;
}
.lastMediaContent img{
    border:2px darkred solid;
    border-radius:10px;
}
section#lastMedia article{
    padding:2%;
}
section#lastMediaResponsive{
    display:none;
}
#imgBox{
    display:flex;
    flex-direction:column;
    align-items:center;
}

/*RESPONSIVE VIDEOS*/
.video{
    position:relative;
    overflow:hidden;
    width:100%;
}
.video::after{
    display:block;
    content:"";
    padding-top:56.25%
}
.video iframe{
    position:absolute;
    top:0;
    left:0;
    padding-top:2%;
    padding-bottom:2%;
    width:100%;
    height:100%;
}



footer {
    display: flex;
    max-width:1300px;
    width:45%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:3%;
    margin-bottom:3%;
}
footer{
    display:flex;
    flex-direction:column;
    align-items:center;
    order:1;
}
footer ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 1px solid darkred;
}
footer ul li:last-child {
    border-right: 0;
}
footer ul li a {
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left: 3rem;
    padding-right: 3rem;
    font-weight:700;
}
footer ul li a:hover {
    background-image:radial-gradient(ellipse at top, darkred -80%, transparent 80%);
    border-top:1px solid #4b0000df;
    color:linen;
}
#socialLinks {
    display: flex;
    order: 2;
    align-items: center;
    justify-content: center;
}
#socialLinks a {
    margin:20px;
}
#socialLinks img{
    height:48px;
}




@media screen and (max-width: 1600px){
    #background{
        background: none;
    }
    main{
        max-width: 1000px;
    }
    .lastImages{
        display:none;
    }
    .news h2{
        font-size:1.2rem;
        margin-bottom:0.2rem;
    }
    .news p{
        font-size:0.8rem;
    }
    .textLinks{
        font-size:0.8rem;
    }
    footer{
        width:100%;
    }

}

@media screen and (max-width: 768px){
    header{
        height:150px;
    }
    #logo{
        height:150px;
    }
    .icon{
        display:flex;
        padding:15px;
    }
    nav{
        width: 100%;
        margin-top:10px;
        margin-bottom:10px;
        flex-direction:column;
        align-items:center;
    }
    nav ul{
        display: none;
    }
    nav.responsive ul{
        display: flex;
        flex-direction:column;
        align-items:center;
        width:100%;
        position:absolute;
        top:254px;
        background-color:black;
        border-bottom:2px solid darkred;
    }
    nav.responsive ul li{
        width:80%;
        border:none;
        text-align: center;
        padding: 1rem;
    }
    nav.responsive ul li a{
        width:80%;
        display:block;
        margin-left:auto;
        margin-right:auto;
    }
    main{
        max-width:576px;
        flex-direction:column;
    }
    section#lastNews{
        width:100%;
    }
    section#lastMedia{
        display:none;
    }
    section#lastMediaResponsive{
        display:flex;
        flex-direction:column;
    }
    section#lastMediaResponsive h3{
        margin-top:2rem;
        margin-bottom:0.5rem;
    }
    footer{
        border-top:2px solid darkred;
        margin-top:50px;
        flex-direction:row;
    }
    footer ul{
        display:flex;
        flex-direction:column;
        align-items:normal;
        width:65%;
        margin-top:15px;
    }
    footer ul li{
        border:none;
    }
    #socialLinks{
        flex-wrap: wrap;
        width: 50%;
    }
    #socialLinks a {
        height:58px;
        margin:7px;
    }
    #socialLinks img{
        height:48px;
        margin:5px;
    }

}