* {
    padding: 0;
    margin: 0;
    box-sizing:border-box;
    font-family: 'Roboto', sans-serif;
    color:mistyrose;
}
body{
    /*background-image:url(../images/bckg_right.jpg), url(../images/bckg_left.jpg);
    background-position:left center, right center;
    background-position-y:0px, 150px, 150px;
    background-repeat: no-repeat, no-repeat;*/
    background:linear-gradient(black 20%, transparent 40%) no-repeat top center,
        url(../images/bckg_left.jpg) no-repeat left 100px,
        url(../images/bckg_right.jpg) no-repeat right 100px;
    background-color:black;
    max-width:100%;
    height:auto;
}

.icon {
    display:none;
}
a {
    text-decoration:none;
    color:black;
}
.textLinks{
    color:firebrick;
    font-style:italic;
    font-size:1rem;
}
.textLinks:hover{
    color:goldenrod;
}

header {
    display: flex;
    max-width:1300px;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
}
#logo{
    height:300px;
}

nav {
    display: flex;
    max-width:1300px;
    width:45%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-bottom:3%;
}
nav ul{
    display:flex;
    flex-direction:row;
}
nav ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 1px solid darkred;
}
nav ul li:last-child {
    border-right: 0;
}
nav ul li a {
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


main {
    display: flex;
    flex-direction: row;
    max-width: 1300px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

section#lastNews{
    display:flex;
    max-width:1300px;
    width:65%;
    flex-direction:column;    
}
.news{
    margin-bottom:5%;
}
.news h2{
    font-size:2rem;
    margin-bottom:1rem;
}

section#lastMedia{
    width:35%;
}
.lastMediaContent h3, h5{
    margin-bottom:5%;
}

/*RESPONSIVE VIDEOS*/
.video{
    position:relative;
    overflow:hidden;
    width:100%;
}
.video::after{
    display:block;
    content:"";
    padding-top:56.25%
}
.video iframe{
    position:absolute;
    top:0;
    left:0;
    padding-top:2%;
    padding-bottom:2%;
    width:100%;
    height:100%;
}

section#lastMedia{
    display:flex;
    flex-direction:column;
    width: 30%;
    margin-left: 5%;
}
section#lastMedia article{
    padding:2%;
}

/*
section#mainNews{
    width: 65%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}
section#mainNews article{
    padding: 2%;
    height: 25%;
}
section#lastMedia{
    width: 30%;
    margin-left: 5%;
}
section#lastMedia article{
    padding:2%;
}
*/
section#lastMediaResponsive{
    display:none;
}


footer {
    display: flex;
    max-width:1300px;
    width:45%;
    justify-content:center;
    margin-left:auto;
    margin-right:auto;
    margin-top:3%;
    margin-bottom:3%;

    background:lightgray;
}
footer ul{
    display:flex;
    flex-direction:row;
}
footer ul li {
    display: inline-block;
    padding-top: 1rem;
    padding-bottom: 1rem;
    border-right: 1px solid darkred;
}
footer ul li:last-child {
    border-right: 0;
}
footer ul li a {
    padding-top: 1rem;
    padding-bottom:1rem;
    padding-left: 3rem;
    padding-right: 3rem;
}


@media screen and (max-width: 1500px){
    body{
        background:black;
    }
    .icon{
        margin-top: 5%;
        float: right;
        display: block;
        background-color:red;
    }
    nav{
        width: 100%;
    }
    nav ul{
        display: none;
    }
    nav.responsive ul{
        display: block;
    }
    nav.responsive ul li{
        display: block;
        text-align: center;
        padding: 1rem;
    }
    nav.responsive ul li{
        border:none;
    }
    main{
        max-width: 1000px;
    }
    .lastImages{
        display:none;
    }
    .news h2{
        font-size:1.2rem;
        margin-bottom:0.2rem;
    }
    .news p{
        font-size:0.8rem;
    }
    .textLinks{
        font-size:0.8rem;
    }
    footer{
        width:100%;
    }

}

@media screen and (max-width: 576px){
    #logo{
        height:150px;
    }
    main{
        max-width:400px;
        flex-direction:column;
    }
    section#lastNews{
        width:100%;
    }
    section#lastMedia{
        display:none;
    }
    section#lastMediaResponsive{
        display:flex;
        flex-direction:column;
    }
    footer ul{
        flex-direction:column;
    }
    footer ul li{
        border:none;
    }

}